$colour-yellow: #ffde00;
$colour-blue: #0096ff;

$colour-focus: darken(desaturate($colour-blue, 25%), 10%);

$colour-dark: #001020;
$colour-darkish: desaturate(lighten($colour-dark, 5%), 40%);
$colour-light: #f8f9fa;
$colour-secondary: darken($colour-light, 55%);
$colour-dark-secondary: darken($colour-light, 45%);


$colour-black: #000;
$colour-white: #fff;
