@import 'colours';

@mixin onfe($elem) {
  #{$elem} {
    position: relative;
    text-decoration: none;
    font-size: 1.25em;
    margin: -0.2em 0;
    font-family: 'LemonMilk';
    color: $colour-yellow;
    transition: all 300ms ease-in-out;

    &:hover {
      transform: translate(-0.1em, -0.1em);
      text-shadow: 0.1em 0.1em #fff9, 0.2em 0.2em $colour-blue;
    }
  }
}
