@import 'globals';
@import 'darkmode';
@import 'typography';
@import 'layout';
@import 'onfe';

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
  color: inherit;
}

html, body {
  height: 100%;
  margin: 0;
  background: var(--colour-background);
  color: var(--colour-primary);
}
