@import 'vars';

.btn {
  padding: $spacer / 2;
  border-radius: $spacer / 2;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.btn-block {
  display: block;
  text-align: center;
}
