$spacer: 1rem;

$colour-yellow: #ffde00;
$colour-blue: #0096ff;

$colour-dark: #001020;
$colour-light: #f8f9fa;
$colour-white: #ffffff;
$colour-secondary: darken($colour-light, 55%);

$subtle-shadow: 0 1px 16px rgba(0, 0, 0, 0.1);
