@import 'layout';
@import 'typography';
@import 'vars';
@import 'buttons';
@import '~/node_modules/highlight.js/styles/atom-one-light.css';

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  min-height: 100%;
  margin: 0;
}
